<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/show.css">
    <link rel="image" href="/images/oyster-banner.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|IM+Fell+English+SC" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <h1><%=oyster.name%></h1>
      <img class="oyster-png" src="/images/oyster.png" alt="oyster">
    </div>

    <div class="main">
      <div class="properties">
        The <%=oyster.name%> takes around <%=oyster.yearsToMaturity%> years to mature.
      </div>
      <div class="properties">
        Their primary location is <%=oyster.location%>.
      </div>
      <div class="properties">
        Flavor Profile: <%=oyster.flavors%>
      </div>
    </div>

    <div class="buttons">
      <form action="/oysters/<%=oyster.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>

      <a href="/oysters/<%=oyster.id%>/edit">EDIT</a>

      <a href="/oysters">BACK</a>
    </div>

  </body>
</html>
